#brand {
  margin-left: 10px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  height: 150px;
}
#brand img {
  height: 100%;
  margin-top: -50px;
}
header h1 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 500px;
  margin: auto;
  animation: topToBottom 1s forwards;
}

header p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: -30px;
  font-weight: bold;
}

main {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
main a {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
  justify-content: center;
  width: 30%;
  border-radius: 10px;
  background-color: var(--secondary-purple);
  padding-top: 10px;
  margin: 10px;
  animation: BottomToTop 1s forwards;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}
main a:hover {
  background-color: var(--secondary-purple-dark);
  border: 1px solid var(--main-pink);
}

main a .thumb {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
main a img {
  overflow: hidden;
  width: 100%;
}

@keyframes topToBottom {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes BottomToTop {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
